
.nav.navbar-nav.navbar-right li a {
    color: black;
    background-color: transparent;
}

.navbar-nav > li{
	padding-left: 2.5vw;
}

@keyframes strike{
  0%     { transform-origin:  0% 50%;transform:scaleX(0); }
  50%    { transform-origin:  0% 50%;transform:scaleX(1);  }
}

.strike {
  position: relative;
}

.tfont{
	font-family: 'Playfair Display', serif;
}

.strike:hover:before {
  content: ' ';
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  height: 3.5px;
  background: black;
  animation: strike .75s ease-in forwards;
}

.white{
	background-color: white;
	height: 30vw;
}	

.mes{
	-webkit-filter: drop-shadow(0px 5px 5px black);
}

.ring{
  width: 25vw;	
  position:absolute;
  -webkit-transform: translateY(50%);
}

.textContainer .big {
  font-size: 4vw;
  width: 25vw;	
  position:relative;
  top:-50%;
  -webkit-transform: translateY(50%);
  left: -70%;
}
.textContainer .small {
  width: 25vw;	
  position:relative;
  top:-50%;
  -webkit-transform: translateY(250%);
  left: -70%;
}

.hr-div {
  width: 100%;
  text-align: right;
  border-style: solid;
  border: 0px 0 1 0
}

.kk { width:100%; border-bottom: 1px solid #BCBCBC; line-height:0.1em; margin:10px 0 20px; } 
.fy { 
	text-align: left;
	background:#E8E8EA;
	padding:10px 50px;
	font-size: 2vw;
	padding-top: 1vw;
	margin-left: 10vw; 
}
.hy { 
	text-align: right;
	background:#E8E8EA;
	font-size: 2vw;
	padding-top: 1vw;
	margin-left: 10vw; 
}