
.nav.navbar-nav.navbar-right li a {
    color: black;
    background-color: transparent;
}

.navbar-nav > li{
	padding-left: 2.5vw;
}

@keyframes strike{
  0%     { transform-origin:  0% 50%;transform:scaleX(0); }
  50%    { transform-origin:  0% 50%;transform:scaleX(1);  }
}

.strike {
  position: relative;
}

.tfont{
	font-family: 'Playfair Display', serif;
}

.tfont2{
	font-family: 'Quicksand', sans-serif;
}

.strike:hover:before {
  content: ' ';
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
  height: 3.5px;
  background: black;
  animation: strike .75s ease-in forwards;
}

.white{
	background-color: white;
	height: 30vw;
}	

.mes{
	-webkit-filter: drop-shadow(0px 5px 5px black);
	max-width: 90%;
	max-height: auto;
}

.ring{
  width: 25vw;	
  position:absolute;
  -webkit-transform: translateY(50%);
}

.textContainer .big {
  font-size: 4vw;
  width: 25vw;	
  position:relative;
  top:-50%;
  -webkit-transform: translateY(50%);
  left: -70%;
}
.textContainer .small {
  width: 25vw;	
  position:relative;
  top:-50%;
  -webkit-transform: translateY(250%);
  left: -70%;
}

.hr-div {
  width: 100%;
  text-align: right;
  border-style: solid;
  border: 0px 0 1 0
}

.kk { 
	width:100%; 
	border-bottom: 1px solid #BCBCBC; 
	line-height:0.1em; 
	margin:10px 0 20px; 
} 

.up{
	margin-top: 3vw;
	background-color: #F1F1F1;
	padding-top: 3vw;
	padding-bottom: 3vw;
	margin: 0;
}
.up:hover{
	background-color: #EDF9F9;
}

.fy { 
	text-align: left;
	background:#E8E8EA;
	padding:10px 50px;
	font-size: 2vw;
	padding-top: 1vw;
	margin-left: 10vw; 
}

.pk{
	height: 10vw;
	width: 10vw;
	margin: 0;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.hvr-und:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hvr-und{
  position: relative;
  text-decoration: none;
}

.hvr-und:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a{
	text-decoration: none;
	color: inherit;
}